@{
    ViewBag.Title = "评论管理";
}

<h2 class="h2" style="margin-bottom:20px;">五四公社文章评论管理页面</h2>
<div class="container" style="height:100%;max-width:100%;">
    <div class="row">
        <div class="col-md-6">
            <input id="UrlInput" type="text" class="form-control " placeholder="输入跳转网址" style="width:40%; float:left"><button class="btn btn-default" onclick="gotoUrl()" style="float:left;">跳转页面</button>
            <iframe name="MyIframe" height="500px;" width="100%;"  frameborder=0 src="http://www.baidu.com" style="margin-top:50px; min-width:900px;">
            </iframe>
        </div>
        <div class="col-md-4 col-md-offset-1" style="height:500px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>用户昵称</th>
                        <th >评论内容</th>
                        <th>评论时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="line-height:30px;">用户昵称</td>
                        <td><input class="comment_input form-control" value="评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容" /></td>
                        <td><input class="comment_input form-control" value="2017年10月23日 11:51" /></td>
                        <td style="line-height:30px;"><a href="" onclick="remove_comment(this)">移除</a></td>
                    </tr>
                    <tr>
                        <td style="line-height:30px;">用户昵称</td>
                        <td><input class="comment_input form-control" value="评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容评论内容" /></td>
                        <td><input class="comment_input form-control" value="2017年10月23日 11:51" /></td>
                        <td style="line-height:30px;"><a href="" onclick="remove_comment(this)">移除</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" style="margin-top:20px;">
            <table class="table">
            <tbody>
                <tr>
                    @foreach (var user in ViewBag.Users)
                    {
                        <td onclick="addUserComment(@user.value)">@user.name</td>
                    }
                </tr>
            </tbody>
            </table>
        </div>
        <div class="col-md-1 col-md-offset-1" style="margin-top:20px;">
            <button class="btn btn-default" onclick="" style="float:left;">随机添加</button>
        </div>
        
    </div>
</div>